<header class="site-header">
  <div class="wrapper header-top">
    <img src="/images/logo.png" alt="Logo du club" class="site-logo" />
    <h1 class="site-title">Arts Martiaux Genas</h1>
  </div>
  <nav class="header-nav wrapper">
    <a href="/club">Le club</a>
    <a href="/documents">Documentation</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
